.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 90%;

  @media screen and (min-width: $middle-screens) {
    width: 750px;
  }
  @media screen and (min-width: $large-screens) {
    width: 960px;
  }
}
